
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock


.vscode/
.idea/
.clangd/
*.log

# Local tools
*.local



*.bin
*.map
*.elf


Thumbs.db
.DS_Store
# Ignore root debug images
/*.png
/*.jpg
/*.jpeg
