# Kompilacja i pliki tymczasowe ESP-IDF
build/
sdkconfig
sdkconfig.old
managed_components/
dependencies.lock

# Konfiguracja lokalna VS Code / JetBrains
.vscode/
.idea/
*.log

# Artefakty kompilacji
*.bin
*.map
*.elf